.step {
    margin-top: 1em;
    display: flex;
    font-size: 1.3em;
    align-content: center;
    background-color: #F4F6F9;
}

.number {
    flex: 0 0 auto; /* Zabránit změnám velikosti */
    text-align: center;
    color: white;
    font-weight: bold;
    background-color: #48768d;
    padding: 10px;
}

.name {
    padding: 10px;
}