body {
    color: #394A59;
    line-height: 1.5;
}
.booking {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.row {
    display: flex;
    gap: 20px;
    flex-grow: 2;
}

.map {
    flex: 1;
}