.st0 {
    fill: #FF00FF;
}

.misto::before {
  content: ''; /* Důležité pro vytvoření pseudo-elementu */
  display: inline-block; /* Umožní nám to nastavit šířku a výšku */
  width: 13px; /* Šířka čtverečku */
  height: 13px; /* Výška čtverečku */
  margin-right: 5px; /* Přidáme trochu prostoru mezi čtvereček a text */
}

.misto-volne::before {
  background-color: #23c258; /* Barva čtverečku */
}

.misto-obsazene::before {
  background-color: #fa5f41; /* Barva čtverečku */
}

.misto-vybrane::before {
  background-color: #ffbc2b; /* Barva čtverečku */
}


.floor-switch {
    width: 50%;
    display: flex;
    justify-content: center;
    background-color: #F4F6F9;
}

.text-table {
    font-family: OpenSans-Bold, 'Open Sans';
    font-size: 17.7px;
    font-weight: 700;
    letter-spacing: -.02em;
}

.black-outline {
    fill: none;
    stroke: #000;
    stroke-miterlimit: 10;
    stroke-width: 2px;
}

.table { 
    fill: #bfbfbf;
}

.cls-5 {
    fill: #00e000;
}

.podium {
    fill: #ccc;
}

.button {
    display: flex;
    padding: 20px;
    color: #006d93;
    text-transform: uppercase;
    border: none;
    font-size: 1rem;
    letter-spacing: 1.5px;
    width: 100%;
    font-weight: 700;
    cursor: pointer;
}

.button-active {
    text-decoration: underline;
    
}

svg {
  margin: 1em auto;
  width: 98%;
}

/* SVG plan */
.text {
    font-family: OpenSans-Bold, 'Open Sans';
    font-size: 17.7px;
    font-weight: 700;
    letter-spacing: -.02em;
  }

  .linka {
    fill: none;
    stroke: #000;
    stroke-miterlimit: 10;
  }

  .circle {
    transform-origin: 721.5px 453px; 
    stroke: #000;
    animation-duration: 10s;
  animation-name: loading;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  }

  @keyframes loading {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  .zed {
    fill: #4d4d4d;
    stroke-width: 0px;
  }

  .stoly {
    fill: #bfbfbf;
    stroke-width: 0px;
  }

  .mista {
    fill: #23c258;
    stroke-width: 0px;
  }

  .popis-cerny {
    font-family: OpenSans, 'Open Sans';
    font-size: 24px;
    color: black;
  }

  .popis-center {
    text-align: center;
    text-anchor:middle;
  }

  .popis-sedy {
    font-family: OpenSans, 'Open Sans';
    font-size: 24px;
    fill: #e0e4ea;
  }

  .parket {
    fill: #e0e4ea;
    stroke-width: 0px;
  }

  @media (max-width: 550px) {
    svg {
      width: 100%;
    }
  }

