
.summary-with-icon {
    display: flex;
    align-items: center;
    gap: 1em;
}
ul {
    padding-inline-start: 0px;
    margin-top: 0.3em;
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
}

ul li {
    display: block;
    font-weight: bold;
    background-color: #EBEFF5;
    padding: 10px 30px;
}

input[type=submit] {
    background-color: #F4F6F9;
    color: #006d93;
    text-transform: uppercase;
    border: none;
    font-size: 1rem;
    letter-spacing: 1.5px;
    padding: 20px 40px;
    margin: 20px 0;
    border-radius:50vh;
    font-weight: 700;
    cursor: pointer;
}

input[type=submit]:hover {
    color: #17c3e6;
}

input[type=email] {
    max-width: 80%;
    width: 20em;
    font-size: 0.88rem;
}

.icon {
    width: 5em;
}

.status {
    padding-bottom: 0.5em;
}

@media (max-width: 550px) {
    .summary-with-icon {
      flex-direction: column;
    }
    .icon {
        width: 50%;
    }
  }